@import "breakpoint.scss";

.app-listcard {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 40%;
  & img {
    width: 150px;
    height: 150px;
  }
  &-title {
    font-size: 25px;
  }
  &-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-desc {
    max-width: 85%;
    max-height: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
    text-align: justify;
  }
  &-price {
    margin-top: 0;
    font-size: 30px;
    font-weight: 600;
  }
}
